<!-- <button sui-button>
  Add Task
</button> -->
<div class="ui stackable three column grid" cdkDropListGroup>
  <div class="column">
    <div sui-segment suiColour="green">
      <h2>New Task</h2>
      <div class="ui relaxed divided list tasks-list" cdkDropList [cdkDropListData]="newTasks"
        (cdkDropListDropped)="onTaskDropped($event)">
        <div *ngIf="newTasks.length == 0" class="item">
          <div class="description">No new task</div>
        </div>
        <div class="item" *ngFor="let task of newTasks" cdkDrag>
          <div class="content">
            <div class="header">{{ task.title }}</div>
            <div class="description">{{ task.description }}</div>
            <i sui-icon suiIconType="trash" suiColour="red" (click)="deleteTask(task, 'new')"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div sui-segment suiColour="yellow">
      <h2>In Progress</h2>
      <div class="ui relaxed divided list tasks-list" cdkDropList [cdkDropListData]="inProgressTasks"
        (cdkDropListDropped)="onTaskDropped($event)">
        <div *ngIf="inProgressTasks.length == 0" class="item">
          <div class="description">No task in progress</div>
        </div>
        <div class="item" *ngFor="let task of inProgressTasks" cdkDrag cdkDragData="task">
          <div class="content">
            <div class="header">{{ task.title }}</div>
            <div class="description">{{ task.description }}</div>
            <i sui-icon suiIconType="trash" suiColour="red" (click)="deleteTask(task, 'inProgress')"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div sui-segment suiColour="red">
      <h2>Done</h2>
      <div class="ui relaxed divided list tasks-list" cdkDropList [cdkDropListData]="doneTasks" (cdkDropListDropped)="
        onTaskDropped($event)">
        <div *ngIf="doneTasks.length == 0" class="item">
          <div class="description">No task is done</div>
        </div>
        <div class="item" *ngFor="let task of doneTasks" cdkDrag cdkDragData="task">
          <div class="content">
            <div class="header">{{ task.title }}</div>
            <div class="description">{{ task.description }}</div>
            <i sui-icon suiIconType="trash" suiColour="red" (click)="deleteTask(task, 'done')"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>